@font-face {
    font-family: 'Tiempos Headline';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/TiemposHeadline-Medium.woff2') format('woff2'), url('../fonts/TiemposHeadline-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Garnet Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Garnett-Medium.woff2') format('woff2'), url('../fonts/Garnett-Medium.woff') format('woff');
}

body {
    font-family: "Montserrat";
}

.css-1bfls7g {
    background: linear-gradient(174.91deg, #7B70EC -215.51%, #3722DA 143.79%);
}